body{
    font-family: $bodyFont;
 
    h3 {
        font-size: 1.5em;
        text-align: center;
     
    }
    h4{
        font-size: 1.2em;
      
    }
    a{
        text-decoration: none;
        color: black;

    }
    
}