nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    
    ul {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        li {
            color: white;
        }
        a {
            text-decoration: none;
        }

    }
  }
  
  .nav-links {

  }