nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    border-bottom: solid 2px whitesmoke;

    ul {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        max-width: 600px;
        li {
            font-size: 26px;
        }
        li:hover, li:active, li:focus{
            transform: scale(1.2);
        }
        .fa-gradient{
            background: -webkit-gradient(linear, left top, left bottom, from(#7b4397), to(#fa02a7));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
    }
  }
  