.fa-angle-up{
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px;
    position: fixed;
    bottom: 0;

}