.search-body{
        text-align: center;
        font-family: $bodyFont;   
    input{
        width: 300px;
        align-content: center;
        height: 40px;
        padding: 15px;
        border-radius: 15px;      
        border-style: solid; 
        margin: 15px;
        text-align: center;
    }
}