.wrapper {
    max-width: 1800px;
    margin: 0 auto;
    main{
        max-width: 1500px;
        min-height: 60vh;
        h3 {
            font-size: 1.5em;
            text-align: center;
            font-family: $bodyFont;
        }
    }

}